<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/comments"><span><img src="/css/images/comments.jpeg" style="width: 75px; height:auto;" alt="peanut gallery logo"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Comments</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">general</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Comments
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/comments">All</a></li>
              <li><a class="dropdown-item" href="/comments/general">General</a></li>
              <li><a class="dropdown-item" href="/comments/videoGames">Video Games</a></li>
              <li><a class="dropdown-item" href="/comments/music">Music</a></li>
              <li><a class="dropdown-item" href="/comments/movies">Movies</a></li>
              <li><a class="dropdown-item" href="/comments/television">Television</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>