<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
    <title>Login</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
<h1>Comments from the Peanut Gallery</h1>
</body>
</html>