<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
    <title>Comments</title>
</head>
<body class="text-bg-secondary">
    <%- include('./partials/nav.ejs') %> 
    <div style="display: flex; flex-direction: column; align-items:center; margin: 3px;">
<h1 > Comments from the Peanut Gallery</h1>
<% console.log(userID) %> 
<!-- Button trigger modal -->
<h1 style="display: flex; justify-content: center;">There are no comments in this category. Why don't you make one?</h1>

<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#commentModal">
    Make a comment
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="commentModalLabel">Got a comment from the peanut gallery?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/comments" method="post">
              <label for="categories">Choose a category:</label>

<select name="category" id="category">
  <option value="general">General</option>
  <option value="videoGames">Video Games</option>
  <option value="music">Music</option>
  <option value="movies">Movies</option>
  <option value="television">Television</option>
</select>
            <input type="hidden" name="userID" value="<%= userID %>">  
            <input 
            type="text" 
            name="commentBody" 
            title="Make a comment between 4 and 200 characters" 
            pattern="^.{4,200}$">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" target>Submit comment</button>
        </div>
    </form>

      </div>
    </div>
  </div>


<%- include('./partials/bootstrap.ejs')%>
</body>
</html>