<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
    <title>Peanut Gallery</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
<h1>Welcome to the home page</h1>
</body>
</html>