<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
    <title>Peanut Gallery</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
<h1>Welcome to the home page</h1>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <a class="navbar-brand" href="#"></a>
       <img src="/peanut-gallery/public/css/images/peanutlogo.jpg" width="40rem" height="40rem" class="float-start;">
      
<div class="container">
<a href="#" class="navbar-brand"> Welcome To The Fullstack Application Project - The Peanut Gallery </a>
 <button 
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse" 
    data-bs-target="#navmenu">

<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse"id="navmenu"> 
<ul class="navbar-nav ms-auto">

<li class="nav-item">
    <a href="#home" class="nav-link">Home</a>
    </li>

<li class="nav-item">
    <a href="#login" class="nav-link"> login</a>
     </li>
                
<li class="nav-item">
    <a href="#register" class="nav-link"> register</a>
    </li>
            </ul>
        </div>
      </div>
    </nav>
    <!--Showcase-->

    <br />
    <br />
<div class="logocontainer">
<img src="/peanut-gallery/public/css/images/peanutlogo.jpg" class="rounded float-end " style="width: 50rem;">
</div>
 <br  />

<div class="card" style="width: 30rem;" class="float-end" boarder="13">

<div class="card-body">
<h3 class="card-title"> <b> When Do Peanuts laugh? </b></h3>
<i><h4>When you crack them up </h4 class="bi bi-emoji-laughing"></i> <p class="card-text">*************************************************************
<br>
          
 <h4>*****Join The Peanut Gallery Now!***** </h4>
      
</p> 
 Have An Account Already?
<a href="#login" class="btn btn-warning">Login</a>
        <br />
<!--  --><br>
No Account?
<a href="#register" class="btn btn-warning">Register Here</a>

 <div class="logocontainer">
<img src="/peanut-gallery/public/css/images/cute-happy-cartoon-peanut-character-vector-35975435.jpeg" class="rounded float-end " style="width: 30rem;">
</div>
<br  />

</body>
</html>