<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %> 
    <title>Register</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
<h1>Register here</h1>
</body>
</html>